@import "../../css/_variables.css";

.in2-button {
  background-color: var(--in2-light-button-button-brand-01);
  color: var(--in2-light-text-text-primary);
  // padding: var(--in2-spacing-block-spacing-03, 8px) 16px;
  padding: 12px 24px;
  font-family: var(--in2-font-families-space-grotesk);
  border-radius: var(--in2-border-03);

  display: flex;
  align-items: center;
  cursor: pointer;
  border: 0;
  font-weight: 500;
  line-height: 24px; /* 150%*/
  justify-content: center;

  &--primary {
    &:hover {
      // light/button/button-hover-brand-01
      background-color: var(--in2-light-button-button-hover-brand-01);
      // box-shadow: 0 0 0 1px var(--in2-button-primary-bg-contrast);
      // background-color: var(--in2-button-primary-bg-hover);
      // transition: var(--in2-button-transition);
    }

    &:focus {
      // box-shadow: 0 0 0 4px var(--in2-button-primary-bg-contrast);
      // background-color: var(--in2-button-primary-bg);
    }
  }

  &--secondary {
    background-color: var(--in2-light-button-button-brand-02);
    color: var(--in2-light-text-text-on-color);
    // box-shadow: 0px 0px 0px 1px inset var(--in2-button-secondary-border);

    &:hover {
      &:after {
        // content: "";
        // background-color: var(--in2-button-secondary-bg-hover);
        // border-radius: var(--in2-button-br);
        // position: absolute;
        // right: -5px;
        // left: 4px;
        // bottom: -4px;
        // top: 4px;
        // width: -webkit-fill-available;
        // height: -webkit-fill-available;
        // z-index: -1;
      }
    }

    &:focus {
      // box-shadow: 0 0 0 4px var(--in2-button-primary-bg-contrast);
      // background-color: var(--in2-button-secondary-bg);
      &:after {
        content: none;
      }
    }
  }

  &--fullWidth {
    width: 100%;
  }

  &--small {
    padding: 8px 12px;
    // padding: var(--in2-button-small-pv) var(--in2-button-small-ph);
  }

  &--medium {
    // padding: var(--in2-button-medium-pv) var(--in2-button-medium-ph);
  }

  &--large {
    padding: 20px 24px;
    // padding: var(--in2-button-large-pv) var(--in2-button-large-ph);
  }

  &--disabled {
    pointer-events: none;
    user-select: none;
    background-color: var(--in2-button-disabled-bg, #999);
    color: var(--in2-button-disabled-bg-contrast, #fff);
    box-shadow: none;
  }

  &--outline {
    color: var(--in2-button-danger-bg-contrast);
    background-color: var(--in2-button-danger-bg);
    transition: var(--in2-button-transition);

    &:hover {
      background-color: var(--in2-button-danger-bg-hover);
      transition: var(--in2-button-transition);
      box-shadow: none;
    }

    &:focus {
      color: var(--in2-button-danger-bg-contrast);
      background-color: var(--in2-button-danger-bg);
      box-shadow: 0 0 0 4px var(--in2-button-danger-border-focus);
    }
  }
}

// .in2-button {
//   font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-weight: 700;
//   border: 0;
//   border-radius: 3em;
//   cursor: pointer;
//   display: inline-block;
//   line-height: 1;
// }
// .in2-button--primary {
//   color: white;
//   background-color: #1ea7fd;
// }
// .in2-button--secondary {
//   color: #333;
//   background-color: transparent;
//   box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
// }

// .in2-button--small {
//   font-size: 12px;
//   padding: 10px 16px;
// }
// .in2-button--medium {
//   font-size: 14px;
//   padding: 11px 20px;
// }
// .in2-button--large {
//   font-size: 16px;
//   padding: 12px 24px;
// }
